<details-chart [records]="originalRecords" [isSelected]="isSelected" (onZoomChanged)="onZoomChanged($event)"></details-chart>
<table>
  <tr>
    <td>
      <summary-chart [data]="userCountSummary" [title]="'User'" [type]="'Count'"
                   [selectionTitle]="selectionTitle" [selectionValue]="selectionValue"
                   (onSummarySelected)="onSummarySelected($event)"></summary-chart>
    </td>
    <td>
      <summary-chart [data]="reportCountSummary" [title]="'Report'" [type]="'Count'"
                   [selectionTitle]="selectionTitle" [selectionValue]="selectionValue"
                   (onSummarySelected)="onSummarySelected($event)"></summary-chart>
    </td>
        <td>
          <summary-chart [data]="portCountSummary" [title]="'Portfolio'" [type]="'Count'"
                       [selectionTitle]="selectionTitle" [selectionValue]="selectionValue"
                       (onSummarySelected)="onSummarySelected($event)"></summary-chart>
        </td>
        <td>
          <summary-chart [data]="clientCountSummary" [title]="'Client'" [type]="'Count'"
                       [selectionTitle]="selectionTitle" [selectionValue]="selectionValue"
                       (onSummarySelected)="onSummarySelected($event)"></summary-chart>
        </td>
        <td>
          <summary-chart [data]="appServerCountSummary" [title]="'AppServer'" [type]="'Count'"
                       [selectionTitle]="selectionTitle" [selectionValue]="selectionValue"
                       (onSummarySelected)="onSummarySelected($event)"></summary-chart>
        </td>
        <td>
          <summary-chart [data]="reportTypeCountSummary" [title]="'ReportType'" [type]="'Count'"
                       [selectionTitle]="selectionTitle" [selectionValue]="selectionValue"
                       (onSummarySelected)="onSummarySelected($event)"></summary-chart>
        </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <summary-chart [data]="userTimeSummary" [title]="'User'" [type]="'Time'"
                   [selectionTitle]="selectionTitle" [selectionValue]="selectionValue"
                   (onSummarySelected)="onSummarySelected($event)"></summary-chart>
    </td>
    <td>
      <summary-chart [data]="reportTimeSummary" [title]="'Report'" [type]="'Time'"
                   [selectionTitle]="selectionTitle" [selectionValue]="selectionValue"
                   (onSummarySelected)="onSummarySelected($event)"></summary-chart>
    </td>
    <td>
      <summary-chart [data]="portTimeSummary" [title]="'Portfolio'" [type]="'Time'"
                   [selectionTitle]="selectionTitle" [selectionValue]="selectionValue"
                   (onSummarySelected)="onSummarySelected($event)"></summary-chart>
    </td>
    <td>
      <summary-chart [data]="clientTimeSummary" [title]="'Client'" [type]="'Time'"
                   [selectionTitle]="selectionTitle" [selectionValue]="selectionValue"
                   (onSummarySelected)="onSummarySelected($event)"></summary-chart>
    </td>
    <td>
      <summary-chart [data]="appServerTimeSummary" [title]="'AppServer'" [type]="'Time'"
                   [selectionTitle]="selectionTitle" [selectionValue]="selectionValue"
                   (onSummarySelected)="onSummarySelected($event)"></summary-chart>
    </td>
    <td>
      <summary-chart [data]="reportTypeTimeSummary" [title]="'ReportType'" [type]="'Time'"
                   [selectionTitle]="selectionTitle" [selectionValue]="selectionValue"
                   (onSummarySelected)="onSummarySelected($event)"></summary-chart>
    </td>
  </tr>
</table>
