<form [formGroup]="formGroup">
  <table *ngIf="data">
    <thead>
    <tr>
      <th></th>
      <th class="summary-title">{{title}}</th>
      <th class="summary-type">{{type}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of data.slice(0,5)">
      <td><input type="radio" [id]="idBase+r[0]" [value]="r[0]" [formControlName]="idBase" (click)="onClick(r[0])"></td>
      <td><label [attr.for]="idBase+r[0]" class="summary-x">{{r[0]}}</label></td>
      <td class="num"><label [attr.for]="idBase+r[0]">{{r[1]|number:'1.0-0'}}</label></td>
    </tr>
    </tbody>
  </table>
</form>
